@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700);
.chat-window {
  position: relative;
  border-top: 1px solid #b4b4b4;
  border-left: 1px solid #b4b4b4;
  border-right: 1px solid #b4b4b4;
  width: 250px;
  font-family: 'Roboto Slab', serif;
  font-size: 12px;
  background: #f5f5f5;
}
.chat-window > .header {
  border-bottom: 1px solid #b4b4b4;
  background-color: #CF4F4B;
  color: white;
  padding: 2.5px 5px;
}
.chat-window > .body {
  height: 200px;
  padding: 5px;
  overflow-y: scroll;
}
.chat-window > .body .msg > .header {
  font-weight: bolder;
  color: #D34949;
}
.chat-window > .body .msg > .body {
  padding-left: 20px;
}
.chat-window > .body .msg.self .header {
  text-align: right;
  color: #E0A5A5;
}
.chat-window > .body .msg.self .body {
  text-align: right;
  padding-right: 20px;
}
.chat-window > .actions {
  padding: 5px;
  border-top: 1px solid #b4b4b4;
  position: relative;
  height: 50px;
}
.chat-window > .actions > textarea {
  border-radius: 0px;
  width: 210px;
  font-size: 12px;
  resize: none;
}
.chat-window > .actions > button {
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 0px;
  z-index: 10;
  font-size: 12px;
}
.chat-window > .fa-times {
  position: absolute;
  top: 2.5px;
  right: 7.5px;
  color: white;
  font-family: FontAwesome;
  font-style: normal;
}
.chat-window > .fa-times:hover {
  cursor: pointer;
}
#chat-bar {
  position: fixed;
  bottom: 0px;
  right: 200px;
  width: 6000px;
  text-align: right;
}
#chat-bar > div {
  text-align: left;
  display: inline-block;
  margin-right: 20px;
}
#chat-friends {
  height: 100%;
  width: 200px;
  position: fixed;
  right: 0px;
  top: 0px;
  border-left: 1px solid #b4b4b4;
  background: #f5f5f5;
  font-family: 'Roboto Slab', serif;
  font-size: 12px;
}
#chat-friends > .list {
  overflow-y: scroll;
  width: 100%;
  height: 100%;
}
#chat-friends > .list > .chat-friend {
  line-height: 35px;
  padding-left: 10px;
  border-left: 5px solid #52D553;
  border-bottom: 1px solid #C2C2C2;
  border-left: 5px solid #BDBDBD;
  position: relative;
}
#chat-friends > .list > .chat-friend.online {
  border-left: 5px solid #52D553;
}
#chat-friends > .list > .chat-friend:hover {
  background-color: #ebebeb;
  cursor: pointer;
}
#chat-friends > .list > .chat-friend > .alert-no {
  position: absolute;
  right: 15px;
  top: 5px;
  background-color: #B4B4B4;
  border-radius: 11px;
  height: 25px;
  width: 25px;
  line-height: 25px;
  color: #f7f5f5;
  text-align: center;
  font-weight: bold;
}
#chat-friends > .hider {
  position: absolute;
  left: -15px;
  top: 0px;
  width: 15px;
  height: 100%;
  color: #969696;
  text-align: center;
  display: table;
}
#chat-friends > .hider > i {
  font-style: normal;
  font-family: FontAwesome;
  display: table-cell;
  vertical-align: middle;
}
#chat-friends > .hider:hover {
  background-color: #E6E6E6;
  cursor: pointer;
  color: white;
}
